<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Обновление пользователя</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="form-block">
    <form action="/user-update" th:object="${user}" method="post">
        <label class="form-label" for="id">ID</label>
        <input class="form-control" readonly type="number" th:field="*{id}" id="id" placeholder="ID">
        <br/>
        <label class="form-label" for="firstName">Имя</label>
        <input class="form-control" type="text" th:field="*{firstName}" id="firstName" placeholder="Имя">
        <br/>
        <label class="form-label" for="lastName">Фамилия</label>
        <input class="form-control" type="text" th:field="*{lastName}" id="lastName" placeholder="Фамилия">
        <br/>
        <input class="btn btn-primary" type="submit" value="Сохранить изменения">
    </form>
</div>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>
